<ion-view view-title="InterWallet Passport">
<ion-header-bar class="bar bar-stable ">
        <div class="title">InterWallet Passport</div>
    

      </ion-header-bar>
  <ion-content class="padding" hide-tabs>

    <p class="dash-p">
   InterWallet Passport allows you to
    </p>
    <p class="dash-p">
     locale and authenticate with InterWallet
    </p>
    <p class="dash-p">
      Kiosks, manage you favorite apps,
    </p>
    <p class="dash-p">
      view account balances, and access
    </p>
    <p class="dash-p">
      larger daily transaction volumes.
    </p>

    <div class="list margin-20">
      
      
    
      <a class="item item-icon-right dash-url item-dash" href="#/tab/enroll">
            <i class="icon ion-chevron-right icon-blue-right"></i>
            Enroll a new account
      </a>
      
     
      
      <a class="item item-icon-right dash-url item-dash" href="#/tab/passport">
            <i class="icon ion-chevron-right icon-blue-right"></i>
            Sign in with my existing account
      </a>
     
  </div>
  </ion-content>
</ion-view>
